@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&family=Raleway:wght@200;300;400;500;600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #2d2d2d;
}

.body p, h1, h2, h3{
    font-family: karla;
    color: white;
}

.heroContainer {
    width: 100vw;
    height: 92vh;
    background-image: url(content/bilder/film_liggandes.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    
}

.heroOpacity {
    width: 100vw;
    height: 92vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #2d2d2d);

    display: flex;
    align-items: center;
    justify-content: center;
}

.heroInfo {
    margin-top: 200px;

    display: flex;
    align-items: end;

    color: white;
}

.infoImage img {
    height: 350px;
    width: auto;

    margin-right: 20px;
}

.infoText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    gap: 20px;

    margin-bottom: 2px;
}

.infoText h1 {
    font-family: karla;
    font-size: 38px;
}

.infoText h3 {
    font-family: karla;
    font-size: 28px;
}

.infoText p {
    font-family: karla;
    font-size: 17px;
}

.heroContainer button {
    padding: 7px;
  background-color: unset;
  border: 1px solid white;
  font-size: 16px;
  border-radius: 4px;
  color: white;
  margin-bottom: 10px;
  margin-left: 15px;
}

.heroContainer button:hover {
background-color: white;
  color: black;
  cursor: pointer;
}



.movieInfoContainer {
    margin-top: 60px;

    width: 70vw;
    

    background-color: #2d2d2d;

    display: flex;
    align-items: center;
    flex-direction: column;


    font-family: karla;
    color: white;
}

.upperInfo {
    display: flex;
    flex-direction: row;

    gap: 50px;

}

.movieData {
    display: flex;
    flex-direction: column;

    gap: 15px;
}

.movieData h1 {
    margin-bottom: 30px ;
    font-size: 30px;
}

.movieData img {
    width: 15px;
    height: 15px;

    margin-right: 10px;
}

.trailerPlayer {
    position: relative;
}

.play:hover {
    scale: 1.1;
    transition: 0.3s;
    cursor: pointer;

}

.play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
}

.video {
    width: 400px;
    height: auto;
}


.lowerInfo {
    margin-top: 40px;

    width: 42vw;

    font-weight: 300;
}

.actorList {
    margin-top: 120px;

    width: 800px;
    display: flex;
    flex-direction: column;

    margin-bottom: 100px;
}

.actorList h1 {
    margin-bottom: 20px;
}



.actorContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;

    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;

    -ms-overflow-style: none;
    scrollbar-width: none; 
}

.actorContainer::-webkit-scrollbar {
    display: none;
}

.actor {
    display: flex;
    flex-direction: column;

    flex: 0 0 auto; 

    opacity: 1; /* Full opacity */
    transition: opacity 0.3s;
}

.actor.partially-visible {
    opacity: 0.2; 
}

.actor img {
    width: 150px;
    height: 150px;
}

.actor h2 {
    font-size: 13px;
    font-family: karla;
    color: white;
    margin-top: 10px;
}


.visningarContainer {
    width: 70vw;

    flex-direction: column;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 70px;
    margin-bottom: 70px;

    color: white;
}

.visningarContainerTitle {
    display: flex;
    justify-content: start;
    flex-direction: row;
    align-items: center;

    gap: 150px;
}

.line {
    height: 1px;
    width: 600px;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-top: 20px;
    margin-bottom: 20px;
}

.infoLine {
    font-family: karla;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 700px;
}

.bokaButton {
    display: flex;
    padding: 9px 15px;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    border: 1px solid #D9D9D9;
    background-color: #2d2d2d;
    color: white;

}

.bokaButton:hover {
    background-color: #D9D9D9;
    color: black;
    cursor: pointer;
    scale: 1.2;
    transition: 0.2s;
    
}

.relatedMovies {
    margin-top: 150px;
    width: 71vw;
    display: flex;
    justify-content: start;

    font-size: 28px;
    margin-bottom: 25px;
}


.slide-show {
    
    width: 71vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    gap: 18px;
    margin-left: auto;
    margin-right: auto;
}

.slide-show img {
    width: 100%;
    height: auto;
    margin: auto;
}

.slide-show img:hover  {
    scale: 1.15;
    transition: 0.3s;

    box-shadow: 0 10px 8px rgba(0.8, 0.8, 0.8, 0.8);
}

.slide-show p {
    color: whitesmoke;

    font-family: karla;
    margin-top: 3px;
}





/* CURTAINS */ 

.curtain-container {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    overflow: hidden;
}

.curtain {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    background-size: cover;
    box-shadow: inset 0 0 30px rgba(0,0,0,0.6); 
    transform-origin: top center;
}

.left-curtain {
    left: 0;
    background-image: url('content/bilder/moviecurt.avif'); 
    animation: slideLeft 3s forwards;
}

.right-curtain {
    right: 0;
    background-image: url('content/bilder/moviecurt.avif'); 
    animation: slideRight 3s forwards;
}

@keyframes slideLeft {
    from { transform: translateX(0); }
    to { transform: translateX(-100%); }
}

@keyframes slideRight {
    from { transform: translateX(0); }
    to { transform: translateX(100%); }
}


@media screen and (max-width: 900px) {
    
    .infoImage img {
        display: none;
    }
    .heroInfo {
        
    }

    .upperInfo {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: start;
    }
    .lowerInfo {
        text-align: start;
        width: 60vw;
        font-size: 18px;
    }

    .actorList {
        width: 80%;
    }

    .visningarContainer {
        width: 90vw;
    }

    .line {
        width: 90%;
    }

    .infoLine {
        width: 500px;
    }

    .slide-show{
        grid-template-columns: 1fr 1fr;
    }
  }



@media screen and (max-width: 450px) {
    .heroInfo {
        flex-direction: column;
        max-width: 430px;
        justify-content: center;
        margin-left: 50px;
    }

    .infoText h1 {
        font-size: 25px;
    }
    .infoText h3 {
        font-size: 20px;
    }
    .infoText p {
        font-size: 14px;
        max-width: 350px;
    }
    #heroBokaButton {
        position: relative;
        right: 340px;
        top: 15px;
    }

}