@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&family=Raleway:wght@200;300;400;500;600&display=swap");

:root {
  --white: #f6f8ff;
  --black: #2d2d2d;
  --red: #d24e42;
  --darkred: #b10f00;
}

* {
  box-sizing: border-box;
}

body {
  /* width: 1280px; */
  background-color: var(--black);
  font-family: karla;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

a:link,
a:visited,
a:hover,
a:active {
  color: var(--maroon);
  text-decoration: none;
}

.btn-sections {
  border: none;
  outline: none;
  background-color: unset;
}

h1 {
  font-size: 28px;
  font-weight: 600; /* Semi-bold */
  margin: 0;
  padding: 0;
  color: var(--white);
}

h2 {
  font-size: 24px;
  font-weight: bolder;
  color: var(--white);
  align-self: center;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  color: var(--white);
}

p {
  font-size: 16px;
  font-weight: 400; /* Regular */
  color: var(--white);
}

section {
  /* margin: 48px 172px; */
  margin-left: 172px;
  margin-right: calc(172px - 56px);
  margin-top: 48px;
  margin-bottom: 48px;
}
/* -------------------------------------- */
/* Hero ----------------------------------*/

.hero {
  height: 100vh;
  justify-content: end;
}

video {
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card-button-container {
  position: absolute;
  top: 74%;
  left: 24%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 1;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}

.card-button-container:hover {
  background-color: var(--black);
}

.card {
  width: 400px;
}

.hero .card p {
  margin: 8px 0 24px 0;
}

.btn-hero {
  padding: 14px;
  background-color: unset;
  border: 1px solid var(--white);
  font-size: 24px;
  border-radius: 4px;
  color: var(--white);
  margin-bottom: 10px;
  position: absolute;
  bottom: 0%;
  right: 46%;
}

.btn-hero:hover {
  background-color: var(--white);
  color: var(--black);
  cursor: pointer;
}

/* -------------------------------------- */
/* Flexbox ------------------------------ */

.flex {
  display: flex;
}

.flex.row {
  flex-direction: row;
}

.flex.column {
  flex-direction: column;
}

/* -------------------------------------- */
/* Sections ----------------------------- */

.movie-container img {
  width: 209px;
}

.title {
  justify-content: space-between;
}

.slide-show {
  justify-content: space-between;
  gap: 18px;
}

.arrow img {
  width: 36px;
  top: 50%;
  position: relative;
  margin-left: 20px;
}

.arrow img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.arrow-more {
  padding: 26px 0px;
}

.show-more-btn:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.show-more-btn {
  gap: 12px;
}

.show-more-btn p {
  align-self: center;
  color: var(--darkred);
  width: -webkit-fill-available;
}

.slidecircle {
  width: 114px;
  align-self: center;
  margin-top: 16px;
}

/*----------------------------*/
/*ads-------------------------*/

.ad {
  margin: 48px 172px;
}

.ad img {
  max-width: 890px;
}

/*Ad margin*/
section.upcoming.flex > div.flex.column > img {
  margin-bottom: 30px;
}

section.toplist.flex > div.flex.column > div.title.flex.row {
  margin-top: 30px;
}
/*----------*/

.ad-offer {
  position: absolute;
  padding: 0px 72px;
  background-color: var(--red);
  border-bottom-right-radius: 15px;
}

.ad-offer p {
  font-weight: bolder;
  font-size: 32px;
}

/*----------------------------*/
/*Contact and info------------*/

.contact {
  display: flex;
  flex-direction: row;
  margin-top: 48px;
  justify-content: center;
  gap: 23px;
}

.col-1,
.col-2 {
  border-right: 1px solid white;
  padding-right: 23px;
}

.email-submit input {
  width: 60%;
  margin: unset;
  border-style: unset;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  padding: 3px;
}

.email-submit button {
  margin: unset;
  background-color: var(--darkred);
  border: unset;
  padding: 4px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.email-submit button:hover {
  cursor: pointer;
  opacity: 80%;
}

.email-submit button img {
  display: flex;
  width: 16px;
}

input::placeholder {
  font-weight: lighter;
  color: var(--darkred);
}

.email-submit input:focus {
  outline: none;
}

.mobile-line {
  display: none;
}

@media screen and (max-width: 450px) {
  body {
    width: 100%;
  }

  .wrapper {
    width: 100%;
  }

  .desktop {
    display: none;
  }

  section {
    margin: 48px 12px;
  }

  h2 {
    margin-bottom: unset;
  }

  /*---------------------*/

  .hero {
    justify-content: end;
    align-items: center;
    height: 85vh;
  }

  .btn-hero {
    margin-bottom: 10px;
    position: unset;
    align-self: center;
    margin-top: 3vw;
  }

  .card-button-container {
    position: unset;
    transform: unset;
  }

  .card {
    width: unset;
  }

  .video-container {
    display: flex;
    flex-direction: column;
  }

  video {
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  /*---------------------*/

  .arrow {
    display: none;
  }

  .ad {
    margin: 0px 12px;
  }

  .ad img {
    width: 100%;
  }

  .ad-offer {
    padding: 0px 36px;
  }

  .ad-offer p {
    font-weight: bolder;
    font-size: 16px;
  }

  /*Ad margin*/
  section.upcoming.flex > div.flex.column > img {
    margin-bottom: unset;
  }

  section.toplist.flex > div.flex.column > div.title.flex.row {
    margin-top: unset;
  }
  /*----------*/

  .contact {
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .col-1,
  .col-2 {
    border-right: unset;
  }

  .col-1 p,
  .col-2 p {
    margin: 5px 0px;
  }

  .slide-show img {
    width: 100%;
  }

  .mobile-line {
    display: block;
    height: 1px;
    background-color: var(--white);
  }
}
