@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&family=Raleway:wght@200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding:0%;
}

header {
    width: 100vw;
    height: 58px;
    background-color: #b10f00;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


    font-size: 13px;
    font-family: karla;
}

.leftNav {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 40px;

    margin-left: 40px;
}

.hamburgerMenu img{
    width: 25px;
    height: 25px;
    
    position: relative;
    top: 3px;
}

.logotype img {
    width: 38px;
    height: 38px;
    
}





.rightNav {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 70px;

    margin-right: 40px;
}

.citySelector {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 10px;
}

.cityName {

}


.cityArrow img{
    width: 30px;
    height: 30px;

    position: relative;
    top: 2px;
    
}

.login {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 10px;
}

.loginIcon img{
    width: 22px;
    height: 22px;
    
    position: relative;
    top: 1px;
}

