@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&family=Raleway:wght@200;300;400;500;600&display=swap");


* {
  margin: 0;
  padding: 0%;
}

header {
  height: 58px;
  background-color: #b10f00;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 18px;
  font-family: karla;
  color: black;
}

.leftNav {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 40px;

  margin-left: 40px;
}

.hamburgerMenu img {
  width: 25px;
  height: 25px;
  position: relative;
  top: 3px;
}

.logotype img {
  width: 38px;
  height: 38px;
}

.rightNav {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 70px;

  margin-right: 40px;
}

.citySelector {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 10px;
}

.cityArrow img {
  width: 30px;
  height: 30px;

  position: relative;
  top: 2px;
}

.login {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 10px;
}

.loginIcon img {
  width: 22px;
  height: 22px;

  position: relative;
  top: 1px;
}

.chattBox {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
          bottom: 30px;
          right: 30px;
          width: 150px;
          height: 50px;
          background-color: #b10f00;
          font-size: 15px;
          color: white;
          font-family: karla;
          

}

.chattBox:hover {
  cursor: pointer;
  scale: 1.1;
  transform: 0.3s;
}

@media screen and (max-width: 700px) {
  header {
    width: 100%;
    gap: 22px;
  }

  .leftNav {
    gap: 10px;
    margin-left: 12px;
  }

  .hamburgerMenu img {
    top: 3px;
  }

  .citySelector {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  .rightNav {
    gap: 12px;
    margin-right: 8px;
  }

  .logotype {
    display: none;
  }
}
